GPIAN_ADMIN_USER=
GPIAN_ADMIN_PASSWORD=
GPIAN_ADMIN_SECRET=CHANGE-ME
GPIAN_ZONE_A_USER=
GPIAN_ZONE_A_PASSWORD=
GPIAN_ZONE_B_USER=
GPIAN_ZONE_B_PASSWORD=
GPIAN_ZONE_C_USER=
GPIAN_ZONE_C_PASSWORD=
GPIAN_ZONE_D_USER=
GPIAN_ZONE_D_PASSWORD=
